*{
    box-sizing: border-box;
}

body{
    font-family: 'Fugaz One', cursive;
    font-size: 15px;
}

a{
    display: inline-block;
}

p{
    color: black;
}
/* espacios en arriba abajo del menu */
header{
    background-color: rgb(99, 9, 44);
    padding: 5px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
}
/* navegacion */
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container .logo{
    width: 100px;

}

header .container a{
    color: black;
    text-decoration: none;
    margin: 0 15px;
    font-size: 17px;
}

header .container nav a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

.container{
    width: 100%;
    margin: 0 auto;
    padding-right: 50px;
    padding-left: 50px;
}

.boton{
    text-align: center;
    text-decoration: none;
    padding: 15px 30px;
}

.boton.boton-rojo{
    color: blueviolet;
    background-color: aqua;
    font-size: 20px;
    font-weight: bold;

}

#inicio{
    position: relative;
}

#inicio img{
    width: 100%;
    display: block;
}

#inicio .bloque-inicio{
    position: absolute;
    top: 40%;
    left: 50%;
    width: 400px;
    text-align: center;
    margin-left: -100px;
}

#inicio .bloque-inicio h1{
    color: blue;
    font-size: 35px;
}

#inicio .bloque-inicio p{
    color:red;
    font-size: 16px;
}

.barra-footer{
    background-color: black;
    color: aliceblue;
    text-align: center;
}

/* animation */

.logo {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: orange;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
    box-shadow: 0 0 20px white;
  /* margin:0px auto; */
  padding:2%
}
